* {
  font-family: poppins;
}

.index-header {
  padding: 100px 0 100px;
  margin-top: -70px;
  height: 550px;
  background: #2d83f5;
  /* fallback for old browsers */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.index-header h2 {
  color: white;
  margin-top: 200px;
  font-weight: bold;
}

.footer {
  background-color: black;
  height: 50px;
  width: auto;
  margin-top: 25%;
  position: relative;
}
.footer,
text {
  position: relative;
  text-align: center;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  padding-top: 15px;
}

/* NAV-BAR HOVER */
.navbar-brand,
.nav-link {
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8);
}
.nav-link:hover::after {
  content: "";
  display: block;
  border-bottom: 3px solid #0b63dc;
  width: 50%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
}
/* END NAV-BAR HOVER */

.wrapper-service {
  font-family: raleway;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #2d83f5;
  margin-top: 50px;
  margin-bottom: 50px;
}
.wrapper-service h1 {
  font-size: 3em;
  margin: 25px 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: white;
}
.content-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1000px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.card {
  min-height: 220px;
  width: 320px;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  margin: 10px 4px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
}

.card i {
  margin: 20px;
  color: tomato;
}
.card h2 {
  margin-bottom: 12px;
  font-weight: 400;
  font-family: center;
}
.card p {
  color: #6c757d;
  text-align: center;
}
.card:hover i,
.card:hover p {
  color: #fff;
}
.card:hover h2 {
  font-weight: 600;
}
.card:nth-child(1):hover {
  background: linear-gradient(
      45deg,
      rgba(255, 28, 8, 0.8) 0%,
      rgba(237, 105, 35, 0.8) 100%
    ),
    url("https://www.google.com/search?q=computer&rlz=1C1UEAD_enID976ID976&sxsrf=APq-WBsfdRLQdfxZ5bilXwv3KTBiA6FydA:1646469374703&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiYu9mxyK72AhXxX3wKHT3mAdkQ_AUoAnoECAMQBA&biw=1517&bih=685&dpr=0.9#imgrc=1RIIUxZVXyOVNM");
  background-size: cover;
}
.card:nth-child(2):hover {
  background: linear-gradient(
      45deg,
      rgba(255, 28, 8, 0.8) 0%,
      rgba(237, 105, 35, 0.8) 100%
    ),
    url("assets/bg.jpg");
  background-size: cover;
}
.card:nth-child(3):hover {
  background: linear-gradient(
      45deg,
      rgba(255, 28, 8, 0.8) 0%,
      rgba(237, 105, 35, 0.8) 100%
    ),
    url("assets/bg.jpg");
  background-size: cover;
}
.card:nth-child(5):hover {
  background: linear-gradient(
      45deg,
      rgba(255, 28, 8, 0.8) 0%,
      rgba(237, 105, 35, 0.8) 100%
    ),
    url("assets/bg.jpg");
  background-size: cover;
}
.card:nth-child(4):hover {
  background: linear-gradient(
      45deg,
      rgba(255, 28, 8, 0.8) 0%,
      rgba(237, 105, 35, 0.8) 100%
    ),
    url("assets/bg.jpg");
  background-size: cover;
}
.card:nth-child(5):hover {
  background: linear-gradient(
      45deg,
      rgba(255, 28, 8, 0.8) 0%,
      rgba(237, 105, 35, 0.8) 100%
    ),
    url("assets/bg.jpg");
  background-size: cover;
}
.card:nth-child(6):hover {
  background: linear-gradient(
      45deg,
      rgba(255, 28, 8, 0.8) 0%,
      rgba(237, 105, 35, 0.8) 100%
    ),
    url("assets/bg.jpg");
  background-size: cover;
}

/*# sourceMappinURL=app.css.map */
